@import "../../styles/base";
.container {
  @include body;
  background-color: $color-black;
  overflow-x: hidden;
  @include apply-at-lg-size {
    @include directionY;
    align-items: center;
    @include content-center;
  }
  .invitationContainer {
    max-width: 412px;
    .header {
      @include directionY;
      height: 100%;
      width: 100%;
      top: 0;
      border-bottom: 1px solid $color-dark-gold;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 8% 0;
      margin-bottom: 2%;
      @include apply-at-lg-size {
        background-image: url(https://res.cloudinary.com/dwvzfit8v/image/upload/v1663151551/Invitation%20Assets/khamim/Section_1_yqg2gh.webp);
        background-position: center 5%;
        background-size: contain;
        height: 300px;
        justify-content: flex-end;
      }
      @include apply-at-sm-md-size {
        background-image: url(https://res.cloudinary.com/dwvzfit8v/image/upload/v1663151551/Invitation%20Assets/khamim/Section_1_yqg2gh.webp);
        background-position: center 5%;
        background-size: contain;
        height: 300px;
        justify-content: flex-end;
      }
      .headerAnimation {
        .headerTitle {
          @include useDancing;
          @include directionX;
          justify-content: space-around;
          font-size: 30px;
          width: 50%;
          align-items: flex-start;
          margin: 0 auto;
          .titleTop {
            color: $color-gold;
          }
          .titleMid {
            color: $color-white;
            margin-top: 9%;
            align-self: flex-start;
          }
          .titleBottom {
            color: $color-gold;
            height: 100%;
          }
        }
      }
      .countdown {
        @include directionX;
        @include content-center;
        border-top: 1px solid $color-gold;
        border-bottom: 1px solid $color-gold;
        padding: 0;
        padding: 0;
        width: 55%;
        text-align: center;

        margin-top: 3%;
        padding-bottom: 5px !important;
        justify-content: space-around;
        color: $color-white;
        .countdownItem {
          border-radius: 20px;
          font-size: 9px;
          width: 42px;
          height: 40px;
          .countdownTime {
            text-align: center;
            font-size: 15px;
          }
          .countdownInterval {
            margin: 0;
            font-size: 15px;
          }
        }
      }
    }
    .storySection {
      @include directionX;
      @include reverseDirectionY;
      font-size: 16px;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      text-align: center;
      justify-content: space-between;
      margin-bottom: 2%;
      .storyWrapper {
        align-self: center;
        width: 90%;
        text-align: center;
        letter-spacing: 0.7px;
        @include apply-at-sm-md-size {
        }
        .story {
          @include content-center;
          text-align: center;
          width: 100%;
          p {
            font-size: 12px;
          }
        }
      }
      .imageWrapper {
        @include content-center;
        margin-top: 5%;
        width: 90%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .secondStoryContainer {
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      text-align: center;
      @include directionY;
      font-size: 12px;
      margin-bottom: 2%;
      .imageWrapper {
        @include content-center;
        margin-top: 5%;
        width: 90%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .storyWrapper {
        align-self: center;
        width: 90%;
        text-align: center;
        letter-spacing: 0.7px;
        .story {
          @include content-center;
          @include directionX;
          width: 100%;
          justify-content: center;
          text-align: center;
          .logoContainer {
            @include directionY;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
          }
        }
      }
    }

    .thirdStorySection {
      @include reverseDirectionY;
      font-size: 12px;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      text-align: center;
      justify-content: space-between;
      margin-bottom: 2%;
      .storyWrapper {
        align-self: center;
        width: 90%;
        text-align: center;
        letter-spacing: 0.7px;
        .story {
          @include content-center;
          text-align: center;
          width: 100%;
          p {
            font-size: 12px;
          }
        }
      }
      .imageWrapper {
        @include content-center;
        margin-top: 5%;
        width: 90%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .fourStorySection {
      @include reverseDirectionY;
      font-size: 12px;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      text-align: center;
      justify-content: space-between;
      margin-bottom: 2%;
      .storyWrapper {
        align-self: center;
        width: 90%;
        text-align: center;
        letter-spacing: 0.7px;
        @include apply-at-sm-md-size {
        }
        .story {
          @include content-center;
          text-align: center;
          width: 100%;
          p {
            font-size: 12px;
          }
        }
      }
      .imageWrapper {
        @include content-center;
        margin-top: 5%;
        width: 90%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .galleryContainer {
      @include directionX;
      justify-content: space-around;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      padding: 2%;
      margin-bottom: 2%;
      img {
        width: 47%;
      }
    }

    .gallerySecondContainer{
      @include directionX;
      justify-content: center;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      padding: 2%;
      margin-bottom: 2%;
      img {
        width: 93%;
      }
    }

    .galleryThirdContainer{
      @include directionX;
      justify-content: center;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      padding: 2%;
      margin-bottom: 2%;
      img {
        width: 93%;
      }
    }

    .galleryFourContainer{
      @include directionX;
      justify-content: center;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      padding: 2%;
      margin-bottom: 2%;
      img {
        width: 93%;
      }
    }

    .galleryFiveContainer{
      @include directionX;
      justify-content: center;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      padding: 2%;
      margin-bottom: 2%;
      margin-top: 2%;
      img {
        width: 93%;
      }
    }

    .gallerySixContainer{
      @include directionX;
      justify-content: center;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      padding: 2%;
      margin-bottom: 2%;
      margin-top: 2%;
      img {
        width: 93%;
      }
    }

    .summary {
      @include directionX;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;

      .bg {
        background-color: $color-black;
        width: 100%;
        opacity: 0.8;
        .summaryWraper {
          @include content-center;
          @include directionY;
          margin-top: 2%;
          align-items: center;
          justify-content: center;

          .ornamentWrapper {
            @include directionX;
            @include content-center;
            img {
              margin-bottom: 5%;
              height: auto;
              width: 36%;
            }
          }
          .title {
            @include content-center;
            display: flex;
            justify-content: center;
            font-size: 30px;
            border: none;
            font-size: 16px;
            margin-top: -5%;
          }
          .summaryAnimation {
            .verse {
              width: 90%;
              height: auto;
            }
            .separator {
              @include directionX;
              @include content-center;
              height: 1px;
              background-color: $color-gold;
              width: 27%;
            }
            .summarySection {
              @include content-center;
              margin-top: 4%;
              text-align: center;
              font-size: 12px;
              width: 100%;
              @include apply-at-sm-md-size {
              }
            }
          }
          img {
            @include directionX;
            @include content-center;
            margin-bottom: 5%;
            height: 38px;
          }
        }
      }
    }
    .bridesProfileContainer {
      padding: 3% 0;
      background-image: url(https://res.cloudinary.com/dwvzfit8v/image/upload/v1663179920/Invitation%20Assets/khamim/bgbride_bqgvy5.webp);
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 22px;
      margin-top: 2%;
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      .wingWrapper {
        @include content-center;
        .image {
          display: flex;
          margin-left: auto;
          margin-right: auto;
          margin-top: 2%;
          margin-bottom: 3%;
          height: 49px;
        }
      }
      .profileWrapper {
        @include reverseDirectionY;
        justify-content: space-around;
        text-align: center;
        .card {
          .bridesImage {
            width: 172px;
            margin-left: -5%;
          }
          .profileInfo {
            .bridess {
              font-size: 16px;
            }
            .parents {
              @include content-center;
              font-size: 16px;
              width: 80%;
            }
          }
        }
      }
    }

    .tasyakuranEvent {
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      margin-bottom: 2%;
      background-image: url(https://res.cloudinary.com/dwvzfit8v/image/upload/v1663229884/Invitation%20Assets/khamim/Section_10bg_helh0g.webp);
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      .topEvent {
        @include directionX;
        @include content-center;
        margin-top: 8%;
        margin-bottom: 5%;
        width: 187px;
      }
      .greeting {
        @include content-center;
        width: 95%;
        p {
          text-align: center;
          font-size: 15px;
          line-height: 24px;
        }
        .subtitle {
          font-size: 13px;
          font-weight: normal;
        }
      }
      .details {
        .titleWraper {
          margin-top: 5%;
          .title {
            @include directionX;
            @include content-center;
            align-items: center;
            justify-content: center;
            padding-bottom: 14px;
            border-bottom: 1px solid $color-dark-gold;
            margin-top: 10%;
            font-size: 14px;
            width: 40%;
          }
        }
        .calender {
          @include directionY;
          @include content-center;
          align-items: center;
          margin-bottom: 3%;
          margin-top: 8%;
          font-size: 12px;
          width: 50%;
          p {
            width: 220px;
            text-align: center;
            margin-top: 8%;
          }
          img {
            width: 35px;
          }
        }
        .timesWraper {
          @include directionX;
          @include content-center;
          justify-content: space-between;
          margin-bottom: 3%;
          .timeMobileWrapper {
            @include content-center;
            margin-top: 8%;
            text-align: center;
            font-size: 12px;
            img {
              width: 35px;
            }
            .separator {
              height: 1px;
              background: $color-gold;
              margin-top: -10px;
              margin-bottom: -10px;
            }
          }
        }
        .locationWraper {
          @include directionY;
          @include content-center;
          align-items: center;
          margin-bottom: 5%;
          width: 100%;
          font-size: 12px;
          margin-top: 5%;
          p {
            width: 100%;
            text-align: center;
            margin-top: 8%;
          }
          img {
            width: 30px;
            margin-bottom: -5%;
          }
        }
        .btnmap {
          @include content-center;
          @include directionX;
          align-items: center;
          justify-content: center;
          width: 255px;
          padding: 0px 10px;
          margin-bottom: 10%;
          border: 1px solid $color-gold;
          border-radius: 20px;
          cursor: pointer;
          max-width: 145px;
          font-size: 12px;
          height: 30px;
          border-radius: 10px;
          margin-top: -5%;
          .imageWrapper {
            width: 20%;
            @include directionX;
            align-items: center;
            justify-content: center;
            img {
              width: 20px;
            }
          }
          p {
            color: $color-gold;
            text-decoration: none;
            width: 80%;
            text-align: center;
          }
        }
      }
    }

    .event {
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      margin-top: 2%;
      margin-bottom: 2%;
      background-image: url(https://res.cloudinary.com/dwvzfit8v/image/upload/v1663179920/Invitation%20Assets/khamim/bgbride_bqgvy5.webp);
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      .topEvent {
        @include directionX;
        @include content-center;
        margin-top: 8%;
        margin-bottom: 5%;
        width: 187px;
      }
      .greeting {
        @include content-center;
        width: 95%;
        p {
          text-align: center;
          font-size: 15px;
          line-height: 24px;
        }
        .subtitle {
          font-size: 13px;
          font-weight: normal;
        }
      }
      .details {
        .titleWraper {
          margin-top: 5%;
          .title {
            @include directionX;
            @include content-center;
            align-items: center;
            justify-content: center;
            padding-bottom: 14px;
            border-bottom: 1px solid $color-gold;
            margin-top: 10%;
            font-size: 14px;
            width: 40%;
          }
        }
        .calender {
          @include directionY;
          @include content-center;
          align-items: center;
          margin-bottom: 3%;
          margin-top: 8%;
          font-size: 12px;
          width: 50%;
          p {
            width: 220px;
            text-align: center;
            margin-top: 8%;
          }
          img {
            width: 35px;
          }
        }
        .timesWraper {
          @include directionX;
          @include content-center;
          justify-content: space-between;
          margin-bottom: 3%;
          .time {
            @include directionY;
            align-items: center;
            border-bottom: 1px solid $color-gold;
            width: 26%;
            p {
              width: 100%;
              text-align: center;
            }
          }
          .timeMobileWrapper {
            @include content-center;
            text-align: center;
            font-size: 12px;
            .eventTitle {
              text-decoration-line: underline;
              text-underline-offset: 2px;
              letter-spacing: 0.05em;
              font-size: 14px;
            }
            img {
              width: 35px;
            }
            .separator {
              height: 1px;
              background: $color-gold;
              margin-top: -10px;
              margin-bottom: -10px;
            }
          }
        }
        .locationWraper {
          @include directionY;
          @include content-center;
          align-items: center;
          margin-bottom: 5%;
          width: 70%;
          font-size: 12px;
          margin-top: 8%;
          p {
            width: 100%;
            text-align: center;
            margin-top: 8%;
          }
          img {
            width: 30px;
          }
        }
        .btnmap {
          @include content-center;
          @include directionX;
          align-items: center;
          justify-content: center;
          width: 255px;
          padding: 0px 10px;
          margin-bottom: 10%;
          border: 1px solid $color-gold;
          cursor: pointer;
          max-width: 145px;
          font-size: 12px;
          height: 30px;
          border-radius: 10px;
          margin-top: -5%;
          .imageWrapper {
            width: 20%;
            @include directionX;
            align-items: center;
            justify-content: center;
            img {
              width: 20px;
            }
          }
          p {
            color: $color-gold;
            text-decoration: none;
            width: 80%;
            text-align: center;
          }
        }
        .btnCalendarContainer {
          .btnCalendarWrapper {
            @include content-center;
            @include directionX;
            align-items: center;
            justify-content: center;
            width: 255px;
            padding: 0px 10px;
            margin-bottom: 3%;
            border: 1px solid $color-gold;
            cursor: pointer;
            max-width: 145px;
            font-size: 12px;
            height: 30px;
            border-radius: 10px;
            margin-top: -2%;
          }
        }
      }
    }
    .attendingContainer {
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 2%;
      .title {
        @include body;
        @include directionX;
        @include content-center;
        margin-top: 5%;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid $color-dark-gold;
        font-size: 16px;
        margin-bottom: 5%;
        width: 35%;
      }
      .attendingWraper {
        width: 90%;
        @include useMulish;
        @include reverseDirectionY;
        @include content-center;
        justify-content: space-between;
        margin-bottom: 5%;
        .formWraper {
          .dropdownSection {
            @include directionX;
            align-items: center;
            border-bottom: 1px solid $color-gold;
            cursor: pointer;
            width: 100%;
            justify-content: space-between;
            .formTitle {
              @include body;
              margin-right: 40%;
              letter-spacing: 0.05em;
              font-size: 12px;
              @include apply-at-sm-md-size {
              }
            }
            .icon {
              img {
                width: 12px;
              }
            }
          }
          .formContainer {
            .inputForm {
              @include useMulish;
              margin-top: 6%;
              color: $color-gold;
              .inputs {
                @include directionY;
                font-size: 24px;
                p {
                  font-size: 12px;
                }
                input {
                  @include useMulish;
                  color: $color-gold;
                  padding-left: 15px;
                  height: 40px;
                  margin-bottom: 5%;
                  background-color: $color-black;
                  border: 1px solid $color-gold;
                  width: 95%;
                  border-radius: 10px;
                  font-size: 11px;
                }
                textarea {
                  @include useMulish;
                  color: $color-gold;
                  height: 90px;
                  padding-left: 15px;
                  padding-top: 30px;
                  background-color: $color-black;
                  border: 1px solid $color-gold;
                  font-size: 11px;
                  height: 86px;
                  border-radius: 10px;
                }
                ::-webkit-input-placeholder {
                  color: $color-gold;
                }
                input:focus {
                  outline: none !important;
                  border-color: $color-blue;
                  box-shadow: 0 0 8px $color-blue;
                }
                textarea:focus {
                  outline: none !important;
                  border-color: $color-blue;
                  box-shadow: 0 0 8px $color-blue;
                }
                .iconContainer {
                  display: flex;
                  justify-content: flex-end;
                  .micWrapper {
                    @include directionX;
                    align-items: center;
                    justify-content: center;
                    margin-top: -10%;
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                    .mic {
                      color: $color-gold; 
                      position: relative;
                      width: 18px;
                      height: 18px;
                      position: absolute;
                      z-index: 1000;
                    }
                  }
                }
              }
            }
            .radiosInput {
              @include directionX;
              justify-content: space-between;
              .inputs {
                @include directionY;
                font-size: 12px;
                width: 180px;
                margin-top: 2%;
                .radioWrapper {
                  @include directionY;
                  width: 100%;
                  .radioItem {
                    @include directionX;
                    align-items: center;
                    margin: 2% 0;
                    label {
                      font-size: 10px;
                      margin-left: 5%;
                    }
                  }
                }
              }
              .btnSend {
                align-self: flex-end;
                cursor: pointer;
                color: $color-gold;
                background-color: $color-black;
                border: 1px solid $color-gold;
                padding: 0 3%;
                height: 32px;
                font-size: 12px;
                border-radius: 6px;
                font-weight: normal;
              }
            }
          }
          .hide {
            opacity: 0;
            transform: translateY(-4%);
            transition: all 1.5s;
          }
          .show {
            opacity: 1;
            transform: translateY(0);
            transition: all 1.5s;
          }
        }
        .expressionSection {
          @include directionY;
          @include body;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          img {
            width: 155px;
          }
          .expression {
            text-align: center;
          }
        }
      }
    }
    .messageSectionContainer {
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      padding-bottom: 2%;
      .sectionTitle {
        @include content-center;
        text-align: center;
        border-bottom: 1px solid $color-gold;
        margin-bottom: 5%;
        font-size: 14px;
        width: 40%;
      }
      .mainContent {
        @include content-center;
        @include reverseDirectionY;
        border-bottom: 1px solid $color-dark-gold;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .rightSection {
          border-radius: 10px;
          padding: 2% 3%;
          width: 100%;
          border: none;
          .imgWrapper {
            text-align: center;
            margin-bottom: 5%;
            width: 100%;
            .image {
              @include directionX;
              @include content-center;
              border-radius: 9px;
              width: 70%;
            }
          }
          .messageWrapper {
            margin-top: 4%;
            height: 360px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 2px;
            }
            &::-webkit-scrollbar-thumb {
              background: $color-gold;
              border-radius: 20px;
            }
            .messageItemWrapper {
              @include directionX;
              @include content-center;
              align-items: center;
              color: $color-black;
              height: auto;
              width: 90%;
              .avatar {
                @include directionX;
                align-items: center;
                height: 25px;
                width: 25px;
                margin-right: 5px;
              }
              .messageShape {
                @include directionX;
                width: 95%;
                align-items: center;
                padding-left: 1rem;
                .outerTriangle {
                  width: 0;
                  height: 0;
                  border-top: 23px solid transparent;
                  border-bottom: 23px solid transparent;
                  border-right: 23px solid $color-gold;
                  .innerTriangle {
                    position: relative;
                    top: -20px;
                    left: 2px;
                    width: 0;
                    height: 0;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-right: 20px solid $color-black;
                  }
                }
                .messageBubble {
                  margin: 1rem;
                  background-color: $color-black;
                  color: $color-gold;
                  border: 1px solid $color-gold;
                  border-radius: 6px;
                  text-align: left;
                  padding: 20px;
                  margin-left: -5px;
                  width: 80%;
                  .name {
                    margin-bottom: 0.5rem;
                    font-size: 12px;
                  }
                  .message {
                    @include useMulish;
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .giftContainer {
      border-top: 1px solid $color-dark-gold;
      border-bottom: 1px solid $color-dark-gold;
      .giftWraper {
        @include content-center;
        width: 100%;
        .tittleRibbon {
          .titleGift {
            @include content-center;
            text-align: center;
            border-bottom: 1px solid $color-dark-gold;
            font-size: 16px;
            width: 40%;
          }
          .ribbon {
            @include content-center;
            display: flex;
            width: 89px;
          }
        }
        .dropdownSection {
          @include content-center;
          @include directionX;
          justify-content: center;
          margin-bottom: 5%;
          cursor: pointer;
          border-bottom: 1px solid $color-dark-gold;
          width: 28%;
          align-items: center;
          .title {
            margin-right: 6%;
            font-size: 14px;
          }
          .icon {
            margin-top: -5px;
            img {
              width: 10px;
              height: 6px;
            }
          }
        }
        .giftInfoWraper {
          background-image: url("../../static/images/giftbg.png");
          background-repeat: no-repeat;
          background-size: cover;
          margin-bottom: 10%;
          @include directionY;
          .imageDetail {
            @include directionY;
            .copyWraper {
              @include content-center;
              @include directionX;
              position: relative;
              justify-content: center;
              align-items: center;
              margin-bottom: 5%;
              .copy {
                position: absolute;
                cursor: pointer;
                width: 70px;
              }
              .notifCopy {
                position: absolute;
                font-size: 12px;
                left: 65px;
              }
            }
            .rose {
              @include content-center;
              display: flex;
              margin-bottom: 5%;
              width: 85px;
            }
            .card {
              display: flex;
              @include content-center;
              margin-bottom: 10%;
              width: 180px;
            }
          }
          .infoWrapper {
            @include directionY;
            @include content-center;
            border-top: 1px dotted $color-gold;
            border-bottom: 1px dotted $color-gold;
            margin: 20px 0;
            text-align: center;
            padding-bottom: 35px;
            .infoTitle {
              @include content-center;
              display: flex;
              justify-content: center;
              font-size: 14px;
              text-align: center;
            }
            .infoDetail {
              @include content-center;
              text-align: center;
              font-size: 12px;
              margin-bottom: 5%;
            }
            .copyWraper {
              @include content-center;
              @include directionX;
              position: relative;
              justify-content: center;
              align-items: center;
              margin-bottom: 5%;
              .copy {
                position: absolute;
                cursor: pointer;
                width: 70px;
              }
              .notifCopy {
                position: absolute;
                font-size: 12px;
                left: 65px;
              }
            }
          }

          .closingStatement {
            @include content-center;
            font-size: 12px;
          }
          .btnConfirmation {
            @include content-center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5%;
            border-radius: 10px;
            border: 1px solid $color-gold;
            cursor: pointer;
            font-size: 12px;
            min-height: 25px;
          }
        }
        .hideGift {
          opacity: 0;
          transition: opacity 2s;
        }
        .closeGift {
          display: none;
        }
        .showGift {
          @include fadeIn;
        }
      }
    }
    .closingSectionContainer {
      @include directionY;
      justify-content: center;
      align-items: center;
      background-image: url(https://res.cloudinary.com/dwvzfit8v/image/upload/v1663248032/Invitation%20Assets/khamim/closingwp_c2tclh.webp);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      border-bottom: 1px solid $color-dark-gold;
      margin-bottom: -3%;
      .closingSentenceWrapper {
        @include content-center;
        font-size: 14px;
        width: 100%;
        padding-top: 5%;
        margin-bottom: 0;
      }
      .image {
        width: 147px;
      }
    }
    .footerContainer {
      @include useMulish;
      @include directionY;
      margin-top: 22px;
      padding-top: 5%;
      justify-content: center;
      align-items: center;
      margin-bottom: 6%;
      border-top: 1px solid $color-dark-gold;
      .colaboration {
        font-size: 14px;
      }
      .brand {
        margin-top: -1%;
        margin-bottom: 4%;
        width: 80px;
      }
      .contact {
        width: 20px;
        height: 20px;
        margin-bottom: 5%;
      }
    }
    .my-swal {
      z-index: 10000 !important;
    }
    .swal-overlay {
      z-index: 100000000000 !important;
    }
    :host ::ng-deep .swal-overlay {
      z-index: 30000000000 !important;
    }
  }
}
